body {
  background: linear-gradient(90deg, rgb(35, 227, 176) 0%, rgb(65, 187, 233) 45%, rgb(135, 155, 173) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  margin: 20px auto;
}

.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}

.input:focus,
.add:focus {
  outline: none;
}

.add {
  border: none;
  background-color: #6a07c7;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}

.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task.done {
  opacity: 0.5;
  position: relative;
}

.task.done::after {
  position: absolute;
  content: "";
}

.tasks .task span {
  font-size: 14px;
  background-color: #6a07c7;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-all {
  max-width: calc(100% - 25px);
  margin: auto;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #6a07c7;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

;